      <div class="card">
        <h4 class="pb-2">Login</h4>
      <form>
        <div class="card-text">
        <div class="form-group">
          <label for="email-login">Email:</label><br>
          <input class="form-input w-100 p-1" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label><br>
          <input class="form-input w-100 p-1" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn" type="submit">Login</button>
        </div>
        </div>
      </form>
    </div>
    <script src="/Blog-Site/public/js/login.js"></script>