{{#each users as |user| }}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <h6>{{username}} on {{date}}</h6>
        <div class="card-text">
        <p>{{post_contents}}</p>
        </div>
    </div>
</div>
{{/each}}